In [1]:
ls

 磁碟區 C 中的磁碟是 OS
 磁碟區序號:  668C-B2B9

 C:\Users\viridis\Desktop\pythonLearning 的目錄

2020/03/19  下午 07:05    <DIR>          .
2020/03/19  下午 07:05    <DIR>          ..
2020/03/12  下午 03:18           109,856 bobby.jpg
2020/03/03  下午 06:38            30,283 camera.ipynb
2020/03/11  上午 06:51            26,624 Countrydata.xls
2020/03/18  下午 11:05         3,647,233 credit_risk_after.csv
2020/03/18  下午 11:05         5,539,328 default of credit card clients.xls
2020/03/03  下午 06:06            44,077 hEEeNUv.jpg
2020/03/12  下午 03:47            22,673 imagenet_classess.txt
2020/03/03  下午 02:39            25,515 justTest.ipynb
2020/03/03  下午 05:05            18,341 M.ipynb
2020/03/12  下午 02:31            76,083 MITC_03_12.ipynb
2020/03/18  下午 11:05           104,835 MITC_0319.ipynb
2020/03/18  上午 11:18               547 README.ipynb
2020/03/18  上午 11:18                15 README.md
2020/03/03  下午 06:21            51,877 Taipei.ipynb
2020/03/03  下午 03:21            72,851 Untitled.ipynb
2020/03/04  上午 09:10               555 Untitled1.ipynb
2020/03/19  下午 07:05               555 Untitled10.ipynb
2020/03/05  下午 08:23             6,804 Untitled2.ipynb
2020/03/11  下午 08:19           132,891 Untitled3.ipynb
2020/03/12  下午 04:22         1,428,376 Untitled4.ipynb
2020/03/12  下午 08:06            38,020 Untitled5.ipynb
2020/03/12  下午 09:03            61,265 Untitled6.ipynb
2020/03/17  下午 04:56             8,646 Untitled7.ipynb
2020/03/18  下午 08:49            25,741 Untitled8.ipynb
2020/03/19  下午 06:49           109,611 Untitled9.ipynb
2020/03/10  下午 01:54             1,826 天干地支平閏判斷.ipynb
2020/03/17  下午 08:15             1,737 可否從一組字串組出我想要的單字(不能重複拿).ipynb
2020/03/17  下午 08:05             2,887 刪除一list裡所有的指定數字.ipynb
2020/03/03  下午 09:12             4,989 爬蟲網頁並排名.ipynb
2020/03/17  下午 07:00             1,816 將一tuple的第一項和最後一項對調.ipynb
2020/03/06  上午 12:06             6,375 羅恩力_第二週.ipynb
2020/03/12  上午 02:55            14,071 羅恩力_第三週.ipynb
2020/03/12  下午 08:10             6,251 羅恩力_第四週.ipynb
              33 個檔案      11,622,554 位元組
               2 個目錄  51,809,124,352 位元組可用

In [2]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("credit_risk_after.csv")

In [6]:
df.head()

,Unnamed: 0,LIMIT_BAL,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,...,PAY_AMT6,Education_O,graduate,university,highschool,Marriage_O,Married,Single,Male,Female
0,0,20000,24,2,2,-1,-1,-2,-2,3913,...,0,0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
1,1,120000,26,-1,2,0,0,0,2,2682,...,2000,0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
2,2,90000,34,0,0,0,0,0,0,29239,...,5000,0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
3,3,50000,37,0,0,0,0,0,0,46990,...,1000,0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
4,4,50000,57,-1,0,-1,0,0,0,8617,...,679,0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0

In [7]:
df.columns

Index(['Unnamed: 0', 'LIMIT_BAL', 'AGE', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4',
       'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4',
       'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3',
       'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'Education_O', 'graduate',
       'university', 'highschool', 'Marriage_O', 'Married', 'Single', 'Male',
       'Female'],
      dtype='object')

In [9]:
df = df.drop(columns = df.columns[0])

In [10]:
from sklearn.model_selection import train_test_split

In [13]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size =0.3, random_state = 87)

NameError: name 'X' is not defined

In [12]:
X_train.shape

NameError: name 'X_train' is not defined